# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env
/node_modules
.env*
contracts.md
AGENT_API_KEY.txt
AGENT_INTERGRATION.md
AGENT_GUIDE.md
AGENT_API_INTEGRATION.md
SETUP_GUIDE.md
X402_FACILITATOR_INTEGRATION.md
GITPUSH.md
TROUBLESHOOTING.md
QUICK_DEBUG.md
DEBUG_CHATBOT.md
DEBUG_PAYMENT.md
DEBUG_PAYMENT_VERIFICATION.md
DEBUG_PAYMENT_VERIFICATION_FAILED.md
DEBUG_PAYMENT_VERIFICATION_FAILED.md
backend/README.md
AGENT_DEBUG.md
CHATBOT_NOT_OPENING.md
PROJECT_SUMMARY.md
WORKFLOW.md
WORKFLOW_CHATBOT.md
WORKFLOW_PAYMENT.md
WORKFLOW_PAYMENT_VERIFICATION.md
WORKFLOW_PAYMENT_VERIFICATION_FAILED.md
WORKFLOW_PAYMENT_VERIFICATION_FAILED.md
WORLFLOW_SUMMARY.md
WORKFLOW_CHART.md
/frontend/README.md
WORKFLOW_SUMMARY.md
abi/
broadcast/
cache/
out/
script/
src/
test/
.env*
.env.local
.env.development.local
.env.test.local
.env.production.local
node_modules
VERCEL_QUICKSTART.md 
VERCEL_DEPLOYMENT.md